html,
body {
  /* overflow: hidden; */
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
}
:root {
  --main-style-color: #3967ff;
  --main-bg-color: #e6f0ff;
  --main-font-color: #333333;
}
.configuratorContainer {
  width: 100%;
  min-height: 100%;
  color: var(--main-font-color);
  background-color: aquamarine;
  user-select: none;
}
#renderCanvas {
  width: 80%;
  height: 100%;
  touch-action: none;
  outline: none !important;
  position: fixed;
  right: 0;
}
#settings {
  width: 20%;
  min-height: 100%;
  background: var(--main-bg-color);
  position: fixed;
  font-family: Helvetica, sans-serif;
}
.set-part-click-title {
  width: 90%;
  height: 50px;
  margin-left: 5%;
  margin-top: 10px;
  background: var(--main-bg-color);
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}
.not-clicked {
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2),
    inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0);
}
.clicked {
  box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white,
    0px 0px 4px rgba(255, 255, 255, 0.2), 7px 7px 15px rgba(55, 84, 170, 0), -7px -7px 20px rgba(255, 255, 255, 0),
    inset 0px 0px 4px rgba(255, 255, 255, 0);
  color: var(--main-style-color);
}
.active-text-color {
  color: var(--main-style-color);
}
.set-num {
  flex: 10%;
}
.title-set-part-title {
  flex: 80%;
}
.title-is-active {
  flex: 10%;
  font-size: 30px;
}
.set-part-container {
  width: 90%;
  height: 0;
  border-radius: 20px;
  margin-left: 5%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white,
    0px 0px 4px rgba(255, 255, 255, 0.2), 7px 7px 15px rgba(55, 84, 170, 0), -7px -7px 20px rgba(255, 255, 255, 0),
    inset 0px 0px 4px rgba(255, 255, 255, 0);
}
/* set parts container */
.set-part-main-farbe,
.set-part-start-und-absch,
.set-part-designleisten-aus-aluminium,
.set-part-designleisten-aus-aluminium-act-col {
  width: 90%;
  height: 40px;
  margin: 5px 5%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.color-badge-set-part {
  flex: 20%;
}
.color-badge {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid;
}
.part-set-part-title {
  flex: 60%;
}
.part-is-active {
  flex: 20%;
  /* font-size: 30px; */
}
/* for 2 part image (START UND ABSCH)*/
.img-part {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background: url("img/kolorramy.jpg");
  background-size: cover;
  background-position: center;
}
/* for 3 part (DESIGNlLEISTEN AUS ALUMINIUM)*/
.column-reverse {
  flex-direction: column-reverse;
}
.checkmark-badge-set-part {
  flex: 20%;
}
.checkmark-badge {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid var(--main-style-color);
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  font-weight: 900;
}
.laisne-rep {
  flex: 70%;
  /* width: 50%; */
  height: 5px;
  background-color: var(--main-style-color);
}
.sep-part {
  flex: 10%;
}
